@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

/* Utility Classes */


body {
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.font-bold {
    font-weight: bold;
}

.text-title {
    font-size: 3.5em;
}

.text-secondary {
    color: #f58f84;
}

.mb-2 {
    margin-bottom: 0.5rem; /* Equivalent to 8px */
}

.hero {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    background: linear-gradient(
            45deg,
            transparent 0%,
            transparent 57%,
            #423246 100%
        ),
        linear-gradient(
            -45deg,
            #8f5046 0%,
            #a14436 0.3%,
            #4c2556 112%,
            transparent 11%
        ),
        linear-gradient(-90deg, #a14436 100%, #a14436 65%, transparent 20%);
}

.hero > div {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGCQBOLnQAwGjDAGNgGwSgwVAE+2AgXahLM7AAAAAElFTkSuQmCC)
        repeat;
}

.darksoul-card {
    display: flex;
    margin: auto;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px rgb(235, 235, 235), -1px -1px 1px rgb(237, 237, 237);
    border-radius: 15px;
    transition: all 2s;
    align-items: start;
    justify-content: center;
    font-family: "Belanosima", sans-serif;
}

.content {
    margin: auto;
    z-index: 100;
    color: black;
    font-weight: 600;
    /* text-align: center; */
    margin-top: 120px;
}

.circle {
    position: absolute;
    margin: auto;
    margin-top: 50px;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 201, 201);
    border-radius: 50%;
    transition: all 0.5s;
}
.darksoul-card:hover .circle {
    margin-top: 0px;
    background-color: rgb(255, 201, 201);
    width: 200px;
    height: 200px;
    border-radius: 15px;
    transition: all 0.5s;
}
.darksoul-card:hover .content {
    color: black;
}

.darksoul-card img {
    position: absolute;
    margin: auto;
    margin-top: 50px;
    padding-top: 12px;
}
